<!-- <label class="my-1 ">{{title}} :</label>
<select class="form-control" (change)="detectchanges($event)">
    <option value="all" selected>All</option>
    @for( option of data ;track option){
    <option value="{{option}}">{{option}}</option>
    }
</select> -->
<div class="d-flex align-items-center flex-column">
    <h1 class="text-capitalize pt-3">{{title}}:</h1>
    <div>
        <div class="row align-items-center ">
            <div class="allbtndiv " (click)="detectchanges($event)">
                <button value="all">
                    All
                </button>
            </div>

            @for(option of data ;track $index){
            <div class="categorybtndiv" (click)="detectchanges($event)">
                <button value="{{option}}">
                    {{option}}
                </button>
            </div>
            }
        </div>
    </div>
</div>