<div class="container">
  <a [routerLink]="['/new-category']" class="mb-4 btn btn-success mb-3">Add New Category</a>
  <div class="row">
    @for(category of categories;track category.id)
    {
      <div class="col-md-4">
        <div class="card">
          <img [src]="category.image" class="card-img-top" alt="{{category.name}}">
          <div class="card-body">
            <h5 class="card-title">{{category.name}}</h5>
            <a [routerLink]="['/category',category.id]" class="btn btn-primary">View Details</a>
            <a [routerLink]="['/edit-category',category.id]" class="btn btn-warning">Edit</a>
            <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
