<div class="d-flex flex-column align-items-center">
  <div class="col-12 px-3">
    <div class="row mt-4 align-items-center" id="contphoto_text">
      <div id="conttext">
        <div >
          <h1>Dealora</h1>
          <p id="slogan">Your Ultimate Destination For Unbeatable Deals</p>
          <p id="describtion">Dealora is your go-to online store for exclusive offers
            and unbeatable prices, offering a wide range of products
            to meet all your needs.</p>
          <div><img src="../../../../assets/rating.png" width="100px" alt=""></div>
          <button class="btn" id="aboutusbtn" [routerLink]="['/aboutus']">Read more...</button>
        </div>
      </div>
      <div class="" id="contphoto">
        <img src="../../../../assets/model.jpg" id="imgmodel" alt="">
      </div>
    </div><br>
    <hr >
    <div class="">
      <app-select [data]="categories" [title]="'categories'" (selectedValue)="filtercategories($event)"></app-select>
    </div>
    @if (!loading)
    {
    <div class="row">
      @for ( product of products ; track product.id)
      {
      <div class="col-md-3 mt-4 col-sm 12 ">
        <app-product [data]="product" (item)="addToCart($event)"></app-product>
      </div>
      }
    </div>
    }

    @if (loading) {
    <div class="w-100 text-center">
      <app-spiner></app-spiner>
    </div>
    }
  </div>
</div>