<nav class="navbar navbar-expand-lg  bg-primary">
  <div class="container-fluid ms-5">
    <a class="navbar-brand text-light" ><img src="./shopping.png" style="width: 50px;"></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse  d-flex ms-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
  <a class="nav-link active text-light mx-5" routerLink="/products"><h3>Products</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light " routerLink="/cart"><h3>cart</h3></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
