<!-- <div class="box">
  <div class="row">
    @if (!loading){
    <div class="col-md-5 col-sm-12">
      <img src="{{data.image}}" alt="sas" class="w-75">
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Title:</strong>{{data.title}}</li>
          <li><strong>Category:</strong>{{data.Category}}</li>
          <li><strong>Description: </strong>{{data.description}}</li>
          <li><strong>Rate: </strong>{{data.rating.rate}}</li>
          <li><strong>Count:</strong>{{data.rating.count}}</li>
          <li><strong>Price:</strong>{{data.price}}</li>
        </ul>
      </div>
    </div>}
    <div class="text-center"></div> -->
<!-- @if (loading){
<app-spiner></app-spiner>
} -->
<!-- </div> -->


<div class="contall w-100 ">
  @if(!loading){
  <div id="contall2">
    <div id="textdetails">
      <h1>{{data.title}}</h1>
      <p id="category">{{data.category}}</p>
      <p id="description">{{data.description}}</p>
      <p id="price">{{data.price}}L.E</p>
      <p id="rate">{{data.rating.rate}}</p>
      @if(!addButton){
      <div id="btn" class="btn text-capitalize" (click)="addButton = true">
        add to cart
        <img src="../../../../assets/e-commerce.png" id="imgcart" alt="">
      </div>
      }
      <div>
        @if(addButton) {<div class="d-flex">
          <input placeholder="enter amount" type="number" class="form-control w-75" [(ngModel)]="amount">
          <button class="btn btn-success ms-1 w-25" [routerLink]="['/cart']" (click)="add()  ;addButton = false" >Add</button>
        </div>}
      </div>

      
    
    </div>
    <div id="imgview">
      <div class="circleimg">
        <img src="{{data.image}}" id="imgproduct" alt="">
      </div>
    </div>
  </div>
  }
  <div class=" d-flex align-items-center justify-content-center">
    @if (loading){
    <app-spiner></app-spiner>
    }
  </div>
</div>